Source: wspr
Section: hamradio 
Essential: no
Priority: extra 
Maintainer: Dr. Gerolf Ziegenhain <g@ziegenhain.com>
Build-Depends: libfftw3-dev, portaudio19-dev, debhelper (>= 7.0.50), libsamplerate0-dev, libc6 (>= 2.3.4), libstdc++6 (>= 4.4.0), python-numpy

Package: wspr
Depends: libfftw3-3, libportaudio2, python-tk, python-imaging-tk, python-numpy
Recommends: libhamlib-utils 
Architecture: any
Description: Weak Signal Propagation Reporter
 WSPR (pronounced "whisper") stands for "Weak Signal Propagation Reporter." 
 This program is designed for sending and receiving low-power transmissions 
 to test propagation paths on the MF and HF bands.  Users with internet access
 can watch results in real time at WSPRnet.  Version 2.11 of WSPR includes FMT,
 a package of command-line utilities that can help you make highly accurate 
 frequency measurements without expensive laboratory equipment.
Homepage: http://physics.princeton.edu/pulsar/K1JT/
